/*
 * Forms
 *
 * Updates to forms and overrides
 */

.form-group-label-inline-small {
  display: flex;
  align-items:center;
  label {
    margin-bottom: 0;
    margin-right: 1rem;
    min-width: 140px;
  }
  > div {
    width: 100%;
  }
}